.title {
	width: 45%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.title>a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#listtable {
	margin-bottom:10px;
	border-bottom: 1px solid #ddd;
}

.la {
	width: 9%
}

.lw {
	width: 11%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ln {
	width: 5%
}

#listtable>thead>tr>th, .lr, .lv, .la, .ln, .ld {
	text-align: center;
}

.pagination {
	margin-top:0px;
	margin-bottom: 5px
}

div > .pagination > li > a {
	color: rgba(0,0,0,0.8); 
}
div > .pagination > li.active > a {
	color: #ffffff; 
	border-color: rgba(0,0,0,0.8); 
	background-color: rgba(0,0,0,0.8); 
}